@charset "utf-8";
/* 变量设置 */
/* 初始设置 */
body {
  position: relative;
  background: url(../images/bg.png) no-repeat fixed;
  background-size: cover;
  font-family: "微软雅黑", "宋体";
  color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
}
a:hover {
  text-decoration: none;
  color: #00a2e4;
}
@font-face {
  font-family: arial;
  src: url('../fonts/arial.ttf');
}
@font-face {
  font-family: impact;
  src: url('../fonts/impact.ttf');
}
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1481191743614');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1481191743614#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1481191743614') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1481191743614') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1481191743614#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-duihua:before {
  content: "\e600";
}
.icon-gongchandang:before {
  content: "\e65d";
}
.icon-ditu:before {
  content: "\e696";
}
.icon-jinlingyingcaiwangtubiao72:before {
  content: "\e76d";
}
.icon-fenxi:before {
  content: "\e608";
}
.icon-hulianwangzhuanxian:before {
  content: "\e609";
}
.icon-jianzhu:before {
  content: "\e692";
}
.icon-dashujuyingyongfuwu:before {
  content: "\e6be";
}
.icon-chengxinfuwu:before {
  content: "\e60a";
}
/* clear float */
.clear {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.wmb {
  width: 1200px;
  margin: 0 auto 20px auto;
}
.mb20 {
  margin: 0 auto 20px auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 首页样式 */
body.index_body {
  background: url("../images/background_index.png") repeat-x center top;
  background-color: #efefef;
}
.index_width {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
.index_head .index_width {
  height: 140px;
}
.index_head .index_width i.hero {
  position: absolute;
  right: 80px;
  bottom: -40px;
  z-index: -2;
  display: block;
  width: 166px;
  height: 112px;
  background: url("../images/hero.png") no-repeat right bottom;
}
.index_logo {
  float: left;
  margin: 30px 0px 0px 10px;
}
.index_nav {
  position: relative;
  z-index: 2;
  height: 40px;
  border: 1px #FFFFFF solid;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(88, 136, 246, 0.8)), to(rgba(6, 58, 177, 0.8)));
  background: -ms-linear-gradient(top, rgba(88, 136, 246, 0.8), rgba(6, 58, 177, 0.8));
  background: -moz-linear-gradient(top, rgba(88, 136, 246, 0.8), rgba(6, 58, 177, 0.8));
  background: -o-linear-gradient(top, rgba(88, 136, 246, 0.8), rgba(6, 58, 177, 0.8));
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  line-height: 38px;
}
.index_nav .nav {
  float: left;
  margin-left: 20px;
}
.index_nav .nav li {
  float: left;
  margin-right: 1px;
}
.index_nav .nav li a {
  display: block;
  height: 38px;
  padding: 0px 25px;
  color: #FFFFFF;
  font-size: 14px;
}
.index_nav .nav li.current a {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e1ae00), to(#e16e02));
  background: -ms-linear-gradient(top, #e1ae00, #e16e02);
  background: -moz-linear-gradient(top, #e1ae00, #e16e02);
  background: -o-linear-gradient(top, #e1ae00, #e16e02);
  border-left: 1px #FFFFFF solid;
  border-right: 1px #FFFFFF solid;
}
.index_nav .nav li.current a:hover a {
  color: #FFFFFF;
}
.index_nav .nav li:hover a {
  color: #E1AD00;
}
.index_nav .fr {
  margin-right: 20px;
}
.index_con {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.index_left {
  width: 1100px;
  float: left;
}
.index_right {
  width: 280px;
  float: right;
}
.index_metro {
  margin: 20px 0 10px 0;
}
.index_metro ul li {
  float: left;
  margin: 0 20px 10px 0;
}
.index_metro ul li a {
  position: relative;
  display: block;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 16px;
  padding-right: 20px;
  text-align: right;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.index_metro ul li a i.iconfont {
  position: absolute;
  left: 20px;
  top: 50%;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-top: -22px;
  font-size: 36px;
}
.index_metro ul li a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.index_metro ul li.index_metro_block1 a {
  width: 420px;
  background-color: #EB6100;
}
.index_metro ul li.index_metro_block2 a {
  width: 320px;
  background-color: #AE5DA1;
}
.index_metro ul li.index_metro_block3 {
  margin-right: 0;
}
.index_metro ul li.index_metro_block3 a {
  width: 320px;
  background-color: #8fc31f;
}
.index_metro ul li.index_metro_block4 {
  margin-right: 10px;
}
.index_metro ul li.index_metro_block4 a {
  width: 205px;
  background-color: #a6937c;
}
.index_metro ul li.index_metro_block5 a {
  width: 205px;
  background-color: #eb6877;
}
.index_metro ul li.index_metro_block6 a {
  width: 320px;
  background-color: #22ac38;
}
.index_metro ul li.index_metro_block7 {
  margin-right: 0;
}
.index_metro ul li.index_metro_block7 a {
  width: 320px;
  background-color: #60c8ff;
}
.index_city_network {
  padding-bottom: 20px;
  background-color: #8C97CB;
}
.index_city_network h2 {
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
}
.index_city_network h2 i {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: -4px;
}
.index_city_network ul {
  padding-left: 20px;
}
.index_city_network ul li {
  float: left;
  margin-right: 10px;
}
.index_city_network ul li a {
  display: block;
  width: 97px;
  height: 40px;
  background-color: #838CB7;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.index_city_network ul li a.active {

  background-color: #0F2E91;

}
.index_city_network ul li a:hover {
  background-color: #9aa3cd;
}
.inedx_news {
  margin-bottom: 20px;
  background-color: #2F4B66;
}
.inedx_news p {
  height: 120px;
  background: url("../images/index_news.png") center top;
}
.inedx_news ul {
  height: 200px;
  padding: 10px 0;
}
.inedx_news ul li {
  position: relative;
  height: 60px;
  padding: 10px 20px 10px 40px;
  line-height: 20px;
}
.inedx_news ul li i {
  position: absolute;
  left: 16px;
  top: 16px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #FFFFFF;
}
.inedx_news ul li span {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  font-family: Arial;
}
.inedx_news ul li a {
  font-size: 14px;
}
.wechat {
  height: 230px;
  padding-top: 20px;
  background-color: #00A0E2;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
}
.wechat i {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: url("../images/wechat.png") no-repeat center;
}
.wechat h2 {
  font-size: 14px;
}
.index_main_shadow {
  height: 45px;
  background: url("../images/index_main_shadow.png") no-repeat center top;
}
/* 内页 */
.header {
  height: 80px;
  border-bottom: 1px #775b11 solid;
}
.header .logo {
  float: left;
  margin: 23px 20px 0px 20px;
}
.header .logo img {
  display: block;
  width: 390px;
}
.header .fr {
  display: inline;
  margin: 25px 20px 0 0;
}
.header .fr img {
  vertical-align: -7px;
  margin: 0 5px 0 20px;
}
.header .nav {
  height: 30px;
  float: left;
  margin: 25px 0 0 0;
}
.header .nav li {
  float: left;
  margin-right: 2px;
}
.header .nav li a {
  display: block;
  height: 30px;
  padding: 0 20px;
  position: relative;
  line-height: 30px;
}
.header .nav li a i {
  display: none;
  width: 0;
  height: 0;
  border: 5px transparent solid;
  border-top: 5px #2C8CBE solid;
  border-bottom: 0;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -3px;
}
.header .nav li.current a {
  background-color: #2C8CBE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header .nav li.current a i {
  display: block;
}
.header .nav li.current a:hover {
  color: #ffffff;
}
.main {
  position: relative;
  padding: 20px 20px 20px 270px;
}
.report_menu {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 230px;
}
.report_menu * {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.report_menu a {
  position: relative;
  display: block;
  height: 105px;
  margin-bottom: 5px;
  padding: 15px 90px 15px 15px;
  background-color: rgba(37, 40, 45, 0.7);
}
.report_menu a .report_menu_data p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
.report_menu a .report_menu_data b {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
}
.report_menu a .report_menu_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  width: 75px;
  height: 75px;
  background-color: #30495E;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.report_menu a .report_menu_icon p {
  padding-top: 5px;
  font-size: 16px;
  line-height: 20px;
}
.report_menu a .report_menu_icon i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.report_menu a .report_menu_more {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  line-height: 20px;
  text-align: center;
}
.report_menu a:hover,
.report_menu a.current {
  color: #ffffff;
  width: 250px;
}
.report_menu a:hover .report_menu_data b,
.report_menu a.current .report_menu_data b {
  color: #2C8CBE;
}
.report_menu a:hover .report_menu_icon,
.report_menu a.current .report_menu_icon {
  background-color: #2C8CBE;
}
.report_menu a:hover .report_menu_icon i,
.report_menu a.current .report_menu_icon i {
  opacity: 1;
  filter: alpha(opacity=100);
}
.report_menu_icon1 {
  background: url("../images/report_menu_icon.png") no-repeat 0 0;
}
.report_menu_icon2 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -50px;
}
.report_menu_icon3 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -100px;
}
.report_menu_icon4 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -150px;
}
.report_menu_icon5 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -200px;
}
.report_menu_icon6 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -250px;
}
.report_menu_icon7 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -300px;
}
.report_menu_icon8 {
  background: url("../images/report_menu_icon.png") no-repeat 0 -350px;
}
.box {
  background-color: rgba(37, 40, 45, 0.5);
}
.box .box_title {
  height: 50px;
  border-bottom: 2px #FBB901 solid;
}
.box .box_title .box_icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 16px 10px 0px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 3px #FBB901 solid;
}
.box .box_title .box_name {
  float: left;
  line-height: 48px;
  font-size: 16px;
}
.box .box_main {
  padding: 20px;
}
/* 插件 */
.column_transverse {
  position: relative;
  height: 125px;
  margin: 0 20px;
  padding: 0 0 0 145px;
}
.column_transverse .column_transverse_left {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 125px;
}
.column_transverse .column_transverse_left div {
  padding: 30px 20px 0 10px;
}
.column_transverse .column_transverse_left div p {
  height: 36px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
}
.column_transverse .column_transverse_left div table {
  margin: 0 auto;
  line-height: 35px;
  font-family: Arial;
  font-size: 24px;
}
.column_transverse .column_transverse_right {
  height: 100%;
}
.column_transverse .column_transverse_right table {
  height: 100%;
}
.column_transverse .column_transverse_right table .column_transverse_name {
  width: 50px;
}
.column_transverse .column_transverse_right table .column_transverse_div div {
  position: relative;
  height: 30px;
  line-height: 30px;
}
.column_transverse .column_transverse_right table .column_transverse_div div p {
  height: 100%;
}
.column_transverse .column_transverse_right table .column_transverse_div div span {
  position: absolute;
  left: 10px;
  top: 0;
  font-family: Arial;
}
.column_transverse_orange .column_transverse_left {
  background: url("../images/column_transverse1.png") no-repeat;
}
.column_transverse_orange .column_transverse_left div p {
  border-bottom: 1px #FBB901 solid;
}
.column_transverse_orange .column_transverse_right table .column_transverse_div div .column_transverse_p1 {
  background-color: #EF5F00;
}
.column_transverse_orange .column_transverse_right table .column_transverse_div div .column_transverse_p2 {
  background-color: #FBB901;
}
.column_transverse_blue .column_transverse_left {
  background: url("../images/column_transverse2.png") no-repeat;
}
.column_transverse_blue .column_transverse_left div p {
  border-bottom: 1px #80D5FE solid;
}
.column_transverse_blue .column_transverse_right table .column_transverse_div div .column_transverse_p1 {
  background-color: #80D5FE;
}
.column_transverse_blue .column_transverse_right table .column_transverse_div div .column_transverse_p2 {
  background-color: #2C8CBE;
}
/* 数据应用首页 */
.data_application_index {
  position: fixed;
  left: 50%;
  top: 40%;
  width: 500px;
  height: 400px;
  margin: -250px 0 0 -250px;
}
.data_application_index .data_application_box {
  position: relative;
  width: 500px;
  height: 500px;
}
.data_application_index .data_application_box span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 500px;
  height: 500px;
  margin: -250px 0 0 -250px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border: 2px #FFFFFF solid;
}
.data_application_index .data_application_box em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  margin: -250px 0 0 -250px;
  background: url("../images/xingyun.jpg");
  background-size: cover;
}
.data_application_index .data_application_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 300px;
  height: 300px;
  background: url("../images/huizong.png");
  margin: -150px 0 0 -150px;
}
.data_application_index .data_application_box p {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 300px;
  height: 30px;
  margin: -60px 0 0 -150px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #333;
}
.data_application_index .data_application_box b {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: block;
  width: 300px;
  height: 300px;
  margin: -30px 0 0 -150px;
  text-align: center;
  line-height: 60px;
  font-size: 52px;
  color: #0564C2;
  font-family: Impact;
  font-weight: normal;
}
.data_application_nav * {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.data_application_nav li {
  position: absolute;
  z-index: 4;
  width: 480px;
  height: 80px;
}
.data_application_nav li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  background-color: rgba(5, 100, 194, 0.5);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  color: #FFFFFF;
}
.data_application_nav li a h2 {
  font-size: 20px;
  font-weight: normal;
}
.data_application_nav li a p {
  font-size: 12px;
}
.data_application_nav li a i {
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("../images/data_application_icon.png");
  background-size: 120px;
  background-color: #FFFFFF;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}
.data_application_nav li a b {
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  width: 122px;
  height: 122px;
  border-radius: 61px;
  -webkit-border-radius: 61px;
  -moz-border-radius: 61px;
  border: 0px #0564C2 solid;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.data_application_nav li:hover a {
  background-color: #ffffff;
}
.data_application_nav li:hover a b {
  border: 10px #0564C2 solid;
}
.data_application_nav li:hover a h2 {
  color: #333;
}
.data_application_nav li:hover a p {
  color: #999999;
}
.data_application_nav .data_application_nav1 {
  right: 420px;
  top: 80px;
  text-align: right;
}
.data_application_nav .data_application_nav1 a {
  padding-right: 140px;
}
.data_application_nav .data_application_nav1 a i {
  right: 1px;
  top: -20px;
  background-position: 0 0;
}
.data_application_nav .data_application_nav2 {
  left: 420px;
  top: 80px;
}
.data_application_nav .data_application_nav2 a {
  padding-left: 140px;
}
.data_application_nav .data_application_nav2 a i {
  left: 1px;
  top: -20px;
  background-position: 0 -120px;
}
.data_application_nav .data_application_nav3 {
  right: 450px;
  bottom: 30px;
  text-align: right;
}
.data_application_nav .data_application_nav3 a {
  padding-right: 140px;
}
.data_application_nav .data_application_nav3 a i {
  right: 1px;
  top: -20px;
  background-position: 0 -240px;
}
.data_application_nav .data_application_nav4 {
  left: 450px;
  bottom: 30px;
}
.data_application_nav .data_application_nav4 a {
  padding-left: 140px;
}
.data_application_nav .data_application_nav4 a i {
  left: 1px;
  top: -20px;
  background-position: 0 -360px;
}
.data_application_nav .data_application_nav5 {
  bottom: -220px;
}
.data_application_nav .data_application_nav5 a {
  width: 100%;text-align: center;
}
.data_application_nav .data_application_nav5 a i {
  left: 1px;
  top: -20px;
  background-position: 0 -480px;
}
/* 旋转 */
.rotate {
  animation: rotate 60s linear infinite;
  -moz-animation: rotate linear 60s infinite;
  /* Firefox */
  -webkit-animation: rotate linear 60s infinite;
  /* Safari and Chrome */
  -o-animation: rotate 60s linear infinite;
  /* Opera */
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotate {
  /* Firefox */
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate {
  /* Safari and Chrome */
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes rotate {
  /* Opera */
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* banner */
.main_visual {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #000;
}
.main_image {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.main_image ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
  height: 350px;
  overflow: hidden;
}
.main_image ul li {
  float: left;
  height: 350px;
}
.main_image ul li a {
  display: block;
  width: 100%;
  height: 350px;
}
.main_image ul li a img {
  width: 1122px;
  height: 350px;
}
#btn_prev,
#btn_next {
  position: absolute;
  top: 50%;
  z-index: 11111;
  width: 40px !important;
  height: 40px !important;
  margin-top: -20px;
  display: none;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#btn_prev:hover,
#btn_next:hover {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#btn_prev {
  background: url(../images/btn_prev.png) no-repeat left top;
  left: 10px;
}
#btn_next {
  background: url(../images/btn_next.png) no-repeat right top;
  right: 10px;
}

/* 地市 */
.dishi { width:800px; position:absolute; left:50%; top:445px; margin-left:-400px; z-index:3;}
.dishi i {
  display: block;
  width: 50px;
  height: 150px;
  margin: 0px auto;
  background-size: auto 150px;
}
.dishi b { display:block; height:30px; background:url(../images/xian.png) no-repeat center;}
.dishi ul li { float:left; margin:0px 5px;}
.dishi ul li a { font-size:18px;display:block; width:70px; height:30px; line-height:30px; text-align:center;
  color:#9E9E9E;
  background-color:rgba(68, 68, 68, 0.2);}

.dishi ul li.active a{
  color:#fff;
  background-color:rgba(225,225,225,0.2);
}

.dishi ul li a:hover { background-color:#0564c2;}

.fsBg{font-size: 20px}
.data_application_nav li:hover a span.fsBg {
  color: #0564C2;
  font-size: 35px;
  font-weight: 800;
}
.data_application_nav li.data_application_nav5 a{
  padding-top: 10px;
}
.data_application_nav li.data_application_nav5 h2{
  font-weight: 800;
}
.data_application_nav li.data_application_nav5:hover {
  height: 100px;
  font-size: 25px;
  font-weight: 800;
}

.chief_table_left_top {
  position: absolute;
  left: 10px;
  top: 0px;
}
.platform{padding: 0 0 0 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;}
.platform a{width: 100%}
.platform a:hover{}
.platform .icon{height:60px;margin-top:5px;
  font-size: 20px;
  line-height: 50px;
  text-align: right;
  padding-right: 20PX;
}
.platform .txt{font-size:22px;line-height: 50px;text-align: right;padding-right: 20px}
.djxc{background-color: #EF3D16;width: 350px;}
.djxc .icon{ background: url(/resources/images/icon_dangjian.png) no-repeat;}

.sjyy{background-color: #2D89F0;width: 350px;}
.sjyy .icon{ background: url(/resources/images/ico_sjyy.png) no-repeat;}

.zzcx{background-color: #58BA7C;width: 350px;}
.zzcx .icon{ background: url(/resources/images/ico_zhengwu.png) no-repeat;}

.sqfx{background-color: #B8AB10;width: 165px;}
.sqfx .icon{ background: url(/resources/images/ico_sqfx.png) no-repeat;padding-right: 5PX;}

.xlgc{background-color: #020B6C;width: 165px;}
.xlgc .icon{ background: url(/resources/images/ico_xueliang.png) no-repeat;padding-right: 5PX;}

.slw {background-color: #81BA23;width: 350px;}
.slw .icon{ background: url(/resources/images/ico_bianmin.png) no-repeat;}

.yjb {background-color: #4B4B4A;width: 350px;}
.yjb .icon{ background: url(/resources/images/n_ico2.png) no-repeat;}
